# Include critical files
include README.md
include LICENSE

# Include documentation
recursive-include doc *.rst

# Include the CITATION.cff file
include CITATION.cff

# Include all YAML
include meta.yml

