name: Code Quality

on: [push, pull_request]

jobs:
  detect-ci-trigger:
    name: Detect CI Trigger
    runs-on: ubuntu-latest
    if: |
      github.repository == 'simonbesnard1/gedidb'
      && (github.event_name == 'push' || github.event_name == 'pull_request')
    outputs:
      triggered: ${{ steps.detect-trigger.outputs.trigger-found }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 2
      - uses: xarray-contrib/ci-trigger@v1
        id: detect-trigger
        with:
          keyword: "[skip-ci]"

  lint:
    name: "Linting with Pylint, Black, and Isort"
    runs-on: ubuntu-latest
    needs: detect-ci-trigger
    if: needs.detect-ci-trigger.outputs.triggered == 'false'
    strategy:
      matrix:
        python-version: ["3.12"]
        
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint black
          python -m pip install --no-deps -e .

      - name: Run Black (Check Code Formatting)
        run: black --check --diff .

      - name: Run Pylint (Check Code Quality)
        run: pylint gedidb/ --disable=C0301 --exit-zero
